html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: white;
}

.content {
    max-width: 1920px;
    height: 903px;
    position: relative;
    margin: 0 auto;
}

/* 미디어 쿼리를 사용한 반응형 스타일 */

/* 화면 크기가 1200px 이하일 때의 스타일 */
@media only screen and (max-width: 1200px) {
    .content div[style*="width: 1226px;"] {
        width: 80%; /* 원하는 비율로 조절 */
        margin: 0 auto; /* 중앙 정렬 */
    }
    /* 다른 요소들의 스타일도 조절 */
}

/* 화면 크기가 768px 이하일 때의 스타일 (태블릿) */
@media only screen and (max-width: 768px) {
    .content div[style*="width: 1226px;"] {
        width: 90%; /* 원하는 비율로 조절 */
        font-size: 40px; /* 폰트 크기 조절 */
    }
    /* 다른 요소들의 스타일도 조절 */
}

/* 화면 크기가 480px 이하일 때의 스타일 (모바일) */
@media only screen and (max-width: 480px) {
    .content div[style*="width: 1226px;"] {
        width: 100%; /* 원하는 비율로 조절 */
        font-size: 30px; /* 폰트 크기 조절 */
    }
    /* 다른 요소들의 스타일도 조절 */
}
